body {

    background: url('img/folk-pattern-black.png');
    /*background: no-repeat;*/

    /* background:#70A4E8;
    background: url('img/jaciel-melnik-399287-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    background: url('img/jaciel-melnik-399287-unsplash.jpg') no-repeat fixed center center;
    background-size: 500px;
     */

}

head {

    

}