<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , user-scalable=no, initial-scale=1.0,
    maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Basica</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>

    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Acerca de</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">

            <div class="imagen">

                <img src="https://picsum.photos/1920/1000/?image=649" alt="">

            </div>

            <section class="posts">

                <article>
                    <h2>Titulo del Articulo</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque eos inventore quas facilis
                        repellendus iste quia iusto maxime,
                        odio itaque possimus consequuntur quisquam cum. Voluptatem, soluta magni, vero nesciunt
                        delectus dolor eum perspiciatis et
                        voluptas aliquid ab cumque laboriosam sed explicabo. Eum, ex mollitia. Incidunt, sequi. In,
                        est. In vel dolore, aliquam
                        temporibus distinctio maiores repellat voluptatem qui repudiandae fuga ex eos? Fugit odit vel
                        esse saepe officia rerum
                        similique? Quia quisquam tempore consequuntur ratione accusamus, dolorum exercitationem
                        voluptas sequi quis quo, corrupti
                        molestias asperiores. Eveniet adipisci dolore ipsum doloribus ea voluptatibus reprehenderit
                        numquam porro sequi, tenetur
                        impedit, provident ullam?
                    </p>

                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque eos inventore quas facilis
                        repellendus iste quia iusto maxime,
                        odio itaque possimus consequuntur quisquam cum. Voluptatem, soluta magni, vero nesciunt
                        delectus dolor eum perspiciatis et
                        voluptas aliquid ab cumque laboriosam sed explicabo. Eum, ex mollitia. Incidunt, sequi. In,
                        est. In vel dolore, aliquam
                        temporibus distinctio maiores repellat voluptatem qui repudiandae fuga ex eos? Fugit odit vel
                        esse saepe officia rerum
                        similique? Quia quisquam tempore consequuntur ratione accusamus, dolorum exercitationem
                        voluptas sequi quis quo, corrupti
                        molestias asperiores. Eveniet adipisci dolore ipsum doloribus ea voluptatibus reprehenderit
                        numquam porro sequi, tenetur
                        impedit, provident ullam?
                    </p>
                </article>

            </section>

        </section>

        <aside>
            <div class="widget">
                <h3 class="titulo">Arituclos Destacados</h3>
                <ul>
                    <li><a href="#">Magna id do consequat Lorem ad proident adipisicing do consequat dolor.</a></li>
                    <li><a href="#">Magna id do consequat Lorem ad proident adipisicing do consequat dolor.</a></li>
                    <li><a href="#">Magna id do consequat Lorem ad proident adipisicing do consequat dolor.</a></li>
                    <li><a href="#">Magna id do consequat Lorem ad proident adipisicing do consequat dolor.</a></li>
                    <li><a href="#">Magna id do consequat Lorem ad proident adipisicing do consequat dolor.</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3 class="titulo">Informacion</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque eos inventore quas facilis
                    repellendus iste
                    quia iusto maxime,
                    odio itaque possimus consequuntur quisquam cum. Voluptatem, soluta magni, vero nesciunt delectus
                    dolor eum
                    perspiciatis et
                    voluptas aliquid ab cumque laboriosam sed explicabo. Eum, ex mollitia. Incidunt, sequi. In, est. In
                    vel
                    dolore, aliquam
                    temporibus distinctio maiores repellat voluptatem qui repudiandae fuga ex eos? Fugit odit vel esse
                    saepe
                    officia rerum
                    similique? Quia quisquam tempore consequuntur ratione accusamus, dolorum exercitationem voluptas
                    sequi quis
                    quo, corrupti
                    molestias asperiores. Eveniet adipisci dolore ipsum doloribus ea voluptatibus reprehenderit numquam
                    porro
                    sequi, tenetur
                    impedit, provident ullam?
                </p>
            </div>
        </aside>

        <footer>
            <p>Juan Bedoya 2018 - Todos los Derechos Reservados 1/12/18</p>
        </footer>

</body>

</html>
