.main {
  width: 100%;
  padding: 20px;
  margin: 50px 0;
  background: #F2F2F2;
}

.main .about-me .container {
  justify-content: center;
}

.main .about-me .image {
  margin-top: -100px;
}

.main .about-me .image img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, .2);
}

.main .about-me .text {
  margin: 25px 0 50px 0;
  text-align: center;
}

.main .about-me .text .title {
  font-size: 30px;
  margin-bottom: 25px;
  color: #607F9C;
  font-weight: 300;
}