@import url('header.css');
@import url('name-profesion.css');
@import url('works.css');
@import url('footer.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    background: #3C4043 url('../img/Laptop\ Office\ Desk.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}